*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
}

body{
  min-height: 150vh;
  background-color: #edf2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}